backup/
outputs/
*.tar.gz
*~
.*.un~
.*.swp
*.py
about.html
advisors.html
attorneys.html
contact.html
individuals.html
institutions.html
resources.html
thanks.html
favicon-direction-b.svg
favicon-direction-c.svg
logo-direction-a.svg
logo-direction-b.svg
logo-direction-c.svg
README.md
